
.earth:hover, .earth.active {

  img {
    transform: translateX(-75px) translateY(-75px) scale(.5);
  }

  ~ .moon-container {
    transform: translateX(-75px) translateY(-75px) scale(.4);
    img {
      transform: translateX(-140px) translateY(-140px);
    }
  }

  .more-info {
    opacity: 1;
    transform: scale(1);

    h1, li {
      opacity: 1;
    }
  }
}

* {
  transition: all 4s cubic-bezier(0,1.5,.3,1);
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}