img {
  width: 50%;
  border: 1px solid black;
}

#assignment {
  color: red;
}

.divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.light-mode {
  background-color: #f0f0f0;
  color: #212529
}

.light-mode .title {
  color: #3e08d3;
}

.dark-mode {
  background-color: #212529;
  color: #f0f0f0
}

.dark-mode .title {
  color: #e94949;
}

#make-it-blue {
  color: blue;
}