body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#new-todo {
	line-height: 4rem;
	font-size: 2rem;
	width: 90%;
	text-align: center;
}

#todo-list {
	font-size: 1.5rem;
}

#todo-list li.completed label {
	color: #949494;
	text-decoration: line-through;
}

.todoapp h1 {
	font-size: 80px;
	font-weight: 200;
	text-align: center;
	color: #b83f45;
}

.todo-count {
	font-size: 1.5rem;
	font-weight: bold;
	color: #b83f45;
}